@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster&display=swap');

$primary-color: #063852;
$secondary-color: #F4CC70;
$tertiary-color: #F0810F;

$primary-font-family: "Lobster", Tahoma, sans-serif;
$secondary-font-family: "Josefin Sans", Verdana, sans-serif;